* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
    width: 100vw;
    height: 2000px;
}
.content {
    background-color: black;
    width: 100%;
    height: 200vh;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex: 0 1 auto;
    min-width: 390px; 
    justify-content: center;
    z-index: -1;
}

.welcome-section {
    width: 100%;
    height: 640px;
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.welcome-section__oval {
    width: 390px;
    height: 640px;
    margin: 40px 20px 0 20px;
    background-image:url(../images/oval.png);
    background-size: cover;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    z-index: 1; */
}

.welcome-section__circle{
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 64px;
    margin: 0 auto;
}

.welcome-section__star {
    width: 60px;
    height: 60px;
    color: #889F5B;
    
    margin: 60px 165px 0 165px; 
    animation: star-rotate 20s linear infinite;
}


@keyframes star-rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.welcome-section__title {
    color: white;
    max-width: 231px;
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 234px auto 0 auto; 
}

.welcome-section__paragraph {
    max-width: 229px;
    text-align: center;
    color: white;
    font-family: Gilroy;
    font-weight: medium;
    font-size: 16px;
    margin: 50px auto 0 auto; 
}

/* body, input, button {
 font-size: ;
 font-family: ;
} */

button {
 cursor: pointer;
}