* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
    width: 100vw;
    /* height: 2000px; */
}
.content {
    background-color: #0D0D0D;
    width: 100%;
    /* height: 200vh; */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex: 0 1 auto;
    min-width: 390px; 
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.welcome-section {
    width: 100%;
    height: 640px;
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.welcome-section__oval {
    width: 390px;
    height: 640px;
    margin: 0 auto ;
    background-image:url(../images/oval.png);
    background-size: cover;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    z-index: 1; */
}

.welcome-section__circle{
    width: 16px;
    height: 16px;
    background-color: #0D0D0D;
    border-radius: 50%;
    position: absolute;
    top: 64px;
    margin: 0 auto;
}

.welcome-section__star {
    width: 60px;
    height: 60px;
    color: #889F5B;
    
    margin: 60px 165px 0 165px; 
    animation: star-rotate 20s linear infinite;
}




.welcome-section__title {
    color: white;
    max-width: 231px;
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 234px auto 0 auto; 
}

.title {
    color: white;
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-style: italic;
    font-size: 154px;
    line-height: 1;
    letter-spacing: -0.03em;
}

.welcome-section__paragraph {
    max-width: 229px;
    text-align: center;
    color: white;
    font-family: Gilroy;
    font-weight: medium;
    font-size: 16px;
    margin: 50px auto 0 auto; 
}
.paragraph {
    text-align: center;
    color: white;
    font-family: Gilroy;
    font-weight: medium;
    font-size: 16px;
}

.number-mp-section__title {
    color: white;
    max-width: 150px;
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-style: italic;
    font-size: 154px;
    line-height: 1;
    letter-spacing: -0.03em;
}

.number-mp-section__paragraph {
    max-width: 300px;
    text-align: center;
    color: white;
    font-family: Gilroy;
    font-weight: medium;
    font-size: 16px;
}

.flags-section {
    background-image: url(../images/flags.svg);
    background-size: cover;
    width: 390px;
    height: 297px;
    margin-top: 40px;
}

.tree-section {
    background-image: url(../images/tree.png);
    background-size: cover;
    width: 390px;
    height: 1120px;
    margin-top: 117px;
}


.number-mp-section {
    margin-top: 56px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.vatsok-section {
    margin-top: 56px;
    width: 390px;
    height: 434px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.vatsok-stars {
    position: absolute;
    width: 390px;
    height: 434px;
    background-image: url(../images/stars.svg);
    background-size: cover;
    animation: stars_opacity 3s ease-in-out infinite;
}

.vatsok-section__title {
    color: #CC121B;
    max-width: 281px;
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-top: 113px;
}

.vatsok-section__paragraph {
    max-width: 300px;
    text-align: center;
    color: white;
    font-family: Gilroy;
    font-weight: medium;
    font-size: 16px;
}

.active-section {
    background-image: url(../images/active.svg);
    background-size: cover;
    width: 390px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 83px;
}

.active_p {
    color: #0D0D0D;
    text-align: center;
    font-family: Gilroy;
    font-weight: normal;
    font-size: 16px;
    width: 300px;
    margin-top: 55px;
}

.active-section__left-row {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.active-section__right-row {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.active-section__two-rows {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 36px;
}

.active-section__person {
    width: 93px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    /* color: white; */
}

.person-count {
    background-image: linear-gradient(to bottom, #313921, #889F5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
}

.person-title{
    color: #889F5B;
    text-align: center;
    font-family: Gilroy;
    font-weight: normal;
    font-size: 16px;
}

.red-flags-section {
    background-image: url(../images/red_flags.svg);
    background-size: cover;
    width: 390px;
    height: 259px;
    margin-top: -18px;
}

.urods-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 1094px;
}
.urods-section__title {
    margin: 0 auto;
}
.urods-section__paragraph-1 {
    margin-top: 25px;
    width: 300px;
}

.urods-section__paragraph-2 {
    margin-top: 138px;
    width: 300px;
}

.urods-section__poloska {
    position: absolute;
    width: 390px;
    height: 1094px;
    background-image: url(../images/poloska.png);
    background-size: cover;
    z-index: 1;
}

.urods-section__ludi {
    position: absolute;
    width: 390px;
    height: 1094px;
    background-image: url(../images/ludi.png);
    background-size: cover;
    z-index: 2;
}

.urods-section__19 {
    position: relative;
    top: 10px;
    left: 60px;
    font-style: normal;
    animation: nineteen 0.6s ease-in infinite;
}

.bant-section {
    background-image: url(../images/bant.svg);
    background-size: cover;
    width: 390px;
    height: 309px;
    margin-top: 28px;
}

.flood-section{
    margin-top: -28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flood-section_paragraph-1 {
    width: 260px;
}

.flood-section_paragraph-2 {
    margin-top: 70px;
    width: 281px;
}

.flood-section__row {
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;
}

.flood-section__3-rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:baseline;
    margin-top: 64px;
}


.flood-section__number {
    text-align: center;
    font-family: Pliska;
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: #889F5B;
}

.flood-section__name{
    text-align: center;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.mini-bant{
    width: 94px;
    height: 73px;
    animation: bants 1.2s ease-in infinite;
}

.flood-section__3-bants {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-top: 64px;
}

.flood-section__300 {
    background-image: url(../images/300.svg);
    background-size: cover;
    width: 390px;
    height: 166px;
    margin-top: 21px;
}


/* body, input, button {
 font-size: ;
 font-family: ;
} */

button {
 cursor: pointer;
}

@keyframes star-rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes stars_opacity{
    0%{
        opacity: 100%;
    }

    50%{
        opacity: 25%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes nineteen{
    0%{
        color: #CC121B;
        transform: scale(1);
    }
    50%{
        color: white;
        transform: scale(1.05);
    }
    100%{
        color: #CC121B;
        transform: scale(1);
    }
}

@keyframes bants{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(14deg);
    }

    50%{
        transform: rotate(-14deg);
    }

    100%{
        transform: rotate(0deg);
    }
}